git+https://github.com/dbt-labs/dbt-adapters.git@main
git+https://github.com/dbt-labs/dbt-adapters.git@main#subdirectory=dbt-tests-adapter
git+https://github.com/dbt-labs/dbt-common.git@main
git+https://github.com/dbt-labs/dbt-postgres.git@main
git+https://github.com/dbt-labs/dbt-bigquery.git@main#egg=dbt-bigquery
git+https://github.com/dbt-labs/dbt-snowflake.git@main#egg=dbt-snowflake
git+https://github.com/dbt-labs/dbt-redshift.git@main#egg=dbt-redshift
git+https://github.com/dbt-labs/dbt-spark.git@main#egg=dbt-spark[PyHive,ODBC]
# need to get trino + databricks to increment version numbers in main
# git+https://github.com/databricks/dbt-databricks.git@main#egg=dbt-databricks
# git+https://github.com/starburstdata/dbt-trino.git@main#egg=dbt-trino
grpcio-status~=1.47.0
pyasn1-modules~=0.2.1
pyarrow!=12.0.1
pyodbc==5.1.0 --no-binary pyodbc
snowflake-connector-python~=3.0,!=3.0.4
