dbt-common @ git+https://github.com/dbt-labs/dbt-common.git@main
dbt-adapters @ git+https://github.com/dbt-labs/dbt-adapters.git@main
dbt-core @ git+https://github.com/dbt-labs/dbt-core.git@main#subdirectory=core
dbt-postgres @ git+https://github.com/dbt-labs/dbt-postgres.git@main
dbt-bigquery @ git+https://github.com/dbt-labs/dbt-bigquery.git@main
dbt-snowflake @ git+https://github.com/dbt-labs/dbt-snowflake.git@main
dbt-redshift @ git+https://github.com/dbt-labs/dbt-redshift.git@main
dbt-spark[PyHive,ODBC] @ git+https://github.com/dbt-labs/dbt-spark.git@main
# need to get databricks to increment version numbers in main
# databricks currently in a version mistmatch state while being in pre-release.
# dbt-databricks @ git+https://github.com/databricks/dbt-databricks.git@1.8.latest
dbt-trino @ git+https://github.com/starburstdata/dbt-trino.git@master
dbt-fabric @ git+https://github.com/microsoft/dbt-fabric.git@main
# synapsse currently in a version mistmatch state while being in pre-release
# dbt-synapse @ git+https://github.com/microsoft/dbt-synapse.git@master

pyasn1-modules~=0.4.1
pyarrow~=14.0.1
pydantic~=1.10
pyodbc==4.0.39 --no-binary pyodbc
snowflake-connector-python~=3.0,!=3.0.4