git+https://github.com/dbt-labs/dbt-core.git@1.0.latest#egg=dbt-core&subdirectory=core --no-binary dbt-postgres
git+https://github.com/dbt-labs/dbt-core.git@1.0.latest#egg=dbt-postgres&subdirectory=plugins/postgres
git+https://github.com/dbt-labs/dbt-bigquery.git@1.0.latest#egg=dbt-bigquery
git+https://github.com/dbt-labs/dbt-snowflake.git@1.0.latest#egg=dbt-snowflake
git+https://github.com/dbt-labs/dbt-redshift.git@1.0.latest#egg=dbt-redshift
git+https://github.com/dbt-labs/dbt-spark.git@1.0.latest#egg=dbt-spark[PyHive,ODBC]
dbt-databricks~=1.0.0
dbt-rpc~=0.1.1
grpcio-status~=1.47.0
pyasn1-modules~=0.2.1
pyodbc~=4.0.32
snowflake-connector-python>=2.7.9