git+https://github.com/dbt-labs/dbt-core.git@1.2.latest#egg=dbt-core&subdirectory=core --no-binary dbt-postgres
git+https://github.com/dbt-labs/dbt-core.git@1.2.latest#egg=dbt-postgres&subdirectory=plugins/postgres
git+https://github.com/dbt-labs/dbt-bigquery.git@1.2.latest#egg=dbt-bigquery
git+https://github.com/dbt-labs/dbt-snowflake.git@1.2.latest#egg=dbt-snowflake
git+https://github.com/dbt-labs/dbt-redshift.git@1.2.latest#egg=dbt-redshift
git+https://github.com/dbt-labs/dbt-spark.git@1.2.latest#egg=dbt-spark[PyHive,ODBC]
dbt-databricks~=1.2.3, !=1.2.4
dbt-rpc~=0.1.1
json-rpc==1.13.0
grpcio-status~=1.47.0
pyarrow!=12.0.1
pyasn1-modules~=0.2.1
pyodbc==5.2.0 --no-binary pyodbc
setuptools<71.0
snowflake-connector-python~=3.0,!=3.0.4
numpy<2.0
