--pre
# core version with specific change for rotating file handler
git+https://github.com/dbt-labs/dbt-core.git@1e4167c48095739a3be4b3812ff62bbfd15ca520#egg=dbt-core&subdirectory=core --no-binary dbt-postgres
dbt-snowflake~=1.5.0b1
dbt-bigquery~=1.5.0b1
dbt-redshift~=1.5.0b1
dbt-postgres~=1.5.0b1
dbt-spark[PyHive,ODBC]~=1.5.0b1
dbt-rpc~=0.1.3b1
grpcio-status~=1.47.0
pyarrow~=12.0.0,!=12.0.1
pyasn1-modules~=0.2.1
pyodbc==4.0.39 --no-binary pyodbc
snowflake-connector-python~=3.0,!=3.0.4
