dbt-core~=1.6.0 --no-binary dbt-postgres
dbt-snowflake~=1.6.0
dbt-bigquery~=1.6.0
dbt-redshift~=1.6.0
dbt-postgres~=1.6.0
dbt-spark[PyHive,ODBC]~=1.6.2
dbt-databricks~=1.6.0
dbt-trino~=1.6.0
dbt-fabric==1.6.0
dbt-rpc~=0.4.1
google-api-core<2.21.0 # see https://github.com/dbt-labs/dbt-bigquery/issues/1081
pandas<2.2.0,>=2.0.0
pyasn1-modules~=0.3.0
pyarrow~=14.0.1
pyodbc==4.0.39 --no-binary pyodbc
snowflake-connector-python ~=3.0,!=3.0.4
