dbt-core~=1.8.7 --no-binary dbt-postgres
dbt-snowflake~=1.7.0rc1
dbt-bigquery~=1.7.0rc1
dbt-redshift~=1.7.0rc1
dbt-postgres~=1.7.0rc1
dbt-spark[PyHive,ODBC]~=1.7.0rc1
dbt-databricks~=1.7.0rc1
dbt-trino~=1.7.0rc1
dbt-fabric~=1.7.0
dbt-synapse~=1.7.0rc1
dbt-rpc~=0.4.1
pyasn1-modules~=0.2.1
pyarrow~=14.0.1
pydantic~=1.10
pyodbc==4.0.39 --no-binary pyodbc
snowflake-connector-python~=3.0,!=3.0.4