dbt-adapters~=1.0.0b1
dbt-common~=1.0.0b1
dbt-core~=1.8.0b1
dbt-snowflake~=1.8.0b1
dbt-bigquery~=1.8.0b1
dbt-redshift~=1.8.0b1
dbt-postgres~=1.8.0b1
dbt-spark[PyHive,ODBC]~=1.8.0b1
dbt-databricks~=1.8.0b2  # `dbt-databricks==1.8.0b1` is pinned to `dbt-spark~=1.7`
dbt-trino~=1.8.0b1
# dbt-fabric~=1.8.0rc1  # these are both pinned to `dbt-common~=0.1`, causing conflicts
# dbt-synapse~=1.8.0rc1
pyasn1-modules~=0.2.1
pyarrow~=14.0.1
pydantic~=1.10
pyodbc==4.0.39 --no-binary pyodbc
snowflake-connector-python~=3.0,!=3.0.4
