dbt-core~=1.4.0 --no-binary dbt-postgres
dbt-snowflake~=1.5.0
dbt-bigquery~=1.5.0
dbt-redshift~=1.5.1
dbt-postgres~=1.5.0
dbt-spark[PyHive,ODBC]~=1.5.0
dbt-databricks~=1.5.0
dbt-trino~=1.5.0
dbt-rpc~=0.1.1
grpcio-status~=1.47.0
pyasn1-modules~=0.2.1
pyodbc==4.0.32 --no-binary pyodbc